* { 
    box-sizing: border-box; 
}

html {
    height: 100%; 
    font-size: 100%;
}

body {
    font-family: Arial, sans-serif; 
    font-size: 13px;
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
}

/* Navigation Menu */ 

ul {
    list-style-type: none;
    padding: 0px; 
}

li {
    /* display: inline-block;  */
    padding: 5px 7px; 
    vertical-align: middle;
}


nav { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 4px 20px;
}

nav ul {
    display: flex; 
    align-items: center; 
}

nav, footer {
    padding: 4px 20px; 
}

/* Top Navigation */

nav img {
    color: #000000; 
    opacity: 0.86; 
}

nav a {
    text-decoration: none; 
    color: #000000; 
}

nav ul li a:hover {
    text-decoration: underline; 
    /* opacity: 0.65; */
}
/* Top Navigation Left */

.l_nav {
    /* float: left;  */
    /* position: relative; */
    padding-top: 0px; 
    padding-left: 8px; 
    /* margin-top: 23px;  */
    margin-top: 0px; 
    
}


/* Navigation right items */ 
.r_nav {
    padding-top: 0px; 
    padding-right: 8px; 
}

.apps {
    width: 24px; 
    height: 24px; 
    margin-top: -2px; 
    padding-right: 9px; 
    flex-shrink: 0; 
    display: block;
    opacity: 0.75; 
    cursor: pointer; 
}

.apps:hover {
    opacity: 1; 
}

/* Sign in */ 
.sign_in {
    border: 1px solid #4285f4; 
    outline: none; 
    background: #4285f4; 
    display: inline-block; 
    line-height: 28px; 
    padding: 0 12px; 
    border-radius: 2px; 
}

.sign_in a {
    font-weight: bold; 
    color: #ffffff; 
    opacity: 1; 
    text-decoration: none;
}

.sign_in a:hover { 
    opacity: 1; 
    text-decoration: none;
}

.sign_in:hover {
    opacity: 1; 
    box-shadow: 0 1.5px 0 0 #e4e4e4; 
}

/* Center content */
.cntr_png {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-top: 10vh; 
    width: 100%; 
}

.search-wrapper {
    display: flex; 
    align-items: center; 
    width: 100%;
    max-width: 500px; 
    border: 1px solid #E4E4E4; 
    border-radius: 40px; 
    padding: 8px 15px;

}

.search-wrapper:hover, .search-wrapper:active {
    padding-bottom: 2px; 
    padding-top: 1px; 
    margin-top: -1px; 
    /* width: 40em; */
    box-shadow: 0px 3px 8px #E4E4E4; 
    outline: none; 
}

.logo {

    margin: auto; 
    margin-bottom: 25px; 
}

/* Sign in */ 

.form {
    display: block; 
    margin: auto; 
}

.search_bar {
    width: 100%; 
    flex: 1;
    border: none; 
    outline: none; 
    margin: 0; 
    height: auto; 
}

.magnify {
    width: 20px; 
    height: 20px; 
    color: #F2F2F2; 
    margin-right: 10px; 
    display: flex; 
    align-items: center; 
    /* left: 3%; 
    top: 35px; 
    z-index: 3;  */
    opacity: 0.40; 
}

.mic {
    width: 26px; 
    height: 32px; 
    margin-left: 10px;
    cursor: pointer; 
    display: flex; 
    align-items: center; 
}


.submit_buttons {
    display: inline-block; 
    height: 36px; 
    cursor: pointer; 
    line-height: 27px; 
    background-color: #F2F2F2; 
    border: 1px solid #F2F2F2; 
    border-radius: 2px; 
    color: #757575; 
    cursor: default; 
    font-family: arial, sans-serif; 
    font-size: 13px; 
    margin: 11px 4px; 
    min-width: 54px; 
    padding: 0 16px; 
    text-align: center; 
    cursor: pointer;   
} 

/* 
double .submit-buttons removed! */

.submit_buttons:hover {
    border: .7px solid #d0d0d0; 
    color: #000000; 
    box-shadow: 0px 1px 4px #E4E4E4;
}

/* Footer */ 

.l_ftr, .r_ftr { 
    display: flex; 
    gap: 15px
}

footer {
    line-height: normal; 
    margin-top: auto;
    left: 0; 
    right: 0; 
    color: #666666; 
    background-color: #F2F2F2; 
    border-top: solid 1px #E4E4E4; 

    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
}

footer a {
  text-decoration: none;
  color: #000000;
  opacity: 0.95;
  
}

footer a:hover {
  text-decoration-line: underline;
}



@media (max-width: 600px) {
    nav { 
        /* flex-direction: row;  */
        flex-wrap: wrap; 
        align-items: flex-start; 
        gap: 5px; 
    }

    .l_ftr, .r_ftr {
        flex-direction: row; 
    }

    .r_nav {
      margin-top: 10px; 
    }

    .search_bar {
        width: 90%; 
    }
}
